<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to Mehrdad Javadi's corner of the web! I'm a passionate Remote Sensing Engineer and Data Scientist, dedicated to pushing the boundaries of technology and innovation. My approach combines expertise in remote sensing techniques, data analysis, and machine learning to solve real-world challenges.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether it's mapping environmental changes, predicting crop yields, or analyzing complex datasets, I thrive on leveraging the power of data to drive insights and inform decision-making. With a strong foundation in both theory and practical application, I'm committed to making a positive impact in the world.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/mehrdaddjavadi" class="btn btn-lg btn-outline">
          <i class="fab fa-github"></i> View GitHub Profile
        </a>
      </div>
    </div>
  </div>
</section>
